node_modules
npm-debug.log
yarn.lock
.pnpm-store
.git
.gitignore
Dockerfile*
docker-compose*.yml
.env
.env.example
coverage
dist
.tmp
tests
*.md
.eslintrc.js
.prettierrc
jest.config.js
ecosystem.config.json
